#defaultCanvas0{
    width: 100% !important;
    height: 100% !important;
}

/*
#code{
    width: 100% !important;
    height: 100% !important;
    .ace_text-input{
        height: 100% !important;
    }
}
*/